<h1>Auth</h1>
<p>Please log in to access this page.</p>

<form method="POST" action="/login">
    <input type="email" name="email" placeholder="Email Address">
    <input type="password" name="password" placeholder="Password">
</form>